name: GitHub Pages

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-20.04
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'


      - name: Cache Dependencies
        uses: actions/cache@v3
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      - name: Install dependencies
        run: wget https://github.com/jameslittle230/stork/releases/download/v1.5.0/stork-ubuntu-20-04 -O /usr/local/bin/stork && chmod +x /usr/local/bin/stork

      - name: Install Python dependencies
        run: python3 -m pip install -r ./requirements.txt

      - name: Run Pelican
        run: pelican --settings pelicanconf.py --delete-output-directory content

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./output
